@page "/todo"

<h3>Todo (@Todos.Count(todo => !todo.IsDone))</h3>

<ul>
    @foreach (var todo in Todos)
    {
        <li>
            <input type="checkbox" @bind="todo.IsDone" />
            <input @bind="todo.Title" />
        </li>
    }
</ul>

<input placeholder="Something todo" @bind="newTodo" />
<button @onclick="AddTodo">Add todo</button>
<br />
<input placeholder="Введите номер задачи" @bind="IdEd" />
<input placeholder="Введите задачу" @bind="editToDo" />
<button @onclick="EditToDo">Edit</button>
<br />
<input placeholder="Введите номер задачи" @bind="IdDel" />
<button @onclick="DelToDo">Del</button>

@code {

    private ToDoGoogleService Service { get; set; } = Startup.Service;
    private IList<TodoItem> Todos { get; set; } = Startup.Service.TodoItems;
    public String newTodo { get; set; } = String.Empty;
    public String IdDel { get; set; } = String.Empty;
    public String IdEd { get; set; } = String.Empty;
    public String editToDo { get; set; } = String.Empty;


    private void EditToDo()
    {
        if (!string.IsNullOrWhiteSpace(editToDo))
        {
            if (Int32.TryParse(IdEd, out Int32 id) && id > -1 && id > Service.TodoItems.Count)
            {
                IdEd = "Ошибка id :(";
                return;
            }
            Service.TodoItems[id].Title = editToDo;
            Service.EditTask(Service.TodoItems[id]);
        }
    }

    private void DelToDo()
    {
        if (Int32.TryParse(IdDel, out Int32 id) && id > -1 && id > Service.TodoItems.Count)
        {
            IdDel = "Ошибка id :(";
            return;
        }
        Service.DeleteTask(Service.TodoItems[id]);
    }

    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            Service.AddTask(new TodoItem() { Title = newTodo });
        }
    }
}
